body{
    text-align: center;
    background-color: rgb(20, 33, 61);
    color: rgb(229, 229, 229);
}

h1{
    color: rgb(252, 163, 17);
    margin-bottom: 20px;
}

#btn1, #btn2{
    margin-top: 10px;
    width: 171.3px;
    background-color: rgb(252, 163, 17);
    font-weight: bold;
}


